In [100]:
## Importation des bibliothèques ##

import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd
import plotly.express as px
import seaborn as sns

In [101]:
## Importation du Dataset ##

joml = pd.read_csv("athlete_events.csv")

In [102]:
## Visualisation du Dataset ##

joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [103]:
## Visualisation des différentes informations de l'ensemble de données, 
## comme le type de données (numérique, catégorielle) : colonne "Dtype",
## comme les valeurs manquantes : colonne "Non-Null Count",
## etc.... ##

joml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [104]:
## Suppression des lignes contenant "Winter" dans la colonne "Season" ##

joml = joml[joml['Season'] != 'Winter']
joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [105]:
## Suppression de la colonne "Games" qui fait doublon avec les infos des colonnes "Year" et "Season" ##

joml = joml.drop("Games", axis=1)
joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [106]:
joml = joml.dropna(subset=['Age', 'Height', 'Weight'])
joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [107]:
## Visualisation des différentes informations de l'ensemble de données, 
## comme le type de données (numérique, catégorielle) : colonne "Dtype",
## comme les valeurs manquantes : colonne "Non-Null Count",
## etc.... ##

joml.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166706 entries, 0 to 271110
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      166706 non-null  int64
 1   Name    166706 non-null  object
 2   Sex     166706 non-null  object
 3   Age     166706 non-null  float64
 4   Height  166706 non-null  float64
 5   Weight  166706 non-null  float64
 6   Team    166706 non-null  object
 7   NOC     166706 non-null  object
 8   Year    166706 non-null  int64
 9   Season  166706 non-null  object
 10  City    166706 non-null  object
 11  Sport   166706 non-null  object
 12  Event   166706 non-null  object
 13  Medal   25341 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 19.1+ MB

In [108]:
## Suppression des sports collectifs ou trop ancien ##

spcol = ['Art Competitions', 'Baseball', 'Basketball', 'Beach Volleyball', 'Football', 'Handball', 'Hockey', 'Ice Hockey', 'Lacrosse', 'Rowing',
        'Rugby', 'Rugby Sevens', 'Softball', 'Synchronized Swimming', 'Tug-Of-War', 'Volleyball', 'Water Polo']

joml2 = joml[~joml['Sport'].isin(spcol)]

joml2

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271090,135557,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271101,135562,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [109]:
## Ajout du sport Rowing pour les épreuves 'single' ##

rowing_single = joml[(joml["Sport"] == "Rowing") & (joml["Event"].str.contains("single", case=False))]
joml = pd.concat([rowing_single, joml2])
joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
256,128,Soulmaz Abbasi Azad,F,28.0,173.0,60.0,Iran,IRI,2012,Summer,London,Rowing,Rowing Women's Single Sculls,NaN
2166,1205,Christel Agrikola,F,23.0,173.0,66.0,West Germany,FRG,1976,Summer,Montreal,Rowing,Rowing Women's Single Sculls,NaN
2487,1398,Heba Ahmed,F,23.0,176.0,72.0,Egypt,EGY,2008,Summer,Beijing,Rowing,Rowing Women's Single Sculls,NaN
2621,1468,Mohamed Al-Aich,M,23.0,185.0,73.0,Algeria,ALG,2004,Summer,Athina,Rowing,Rowing Men's Single Sculls,NaN
2719,1515,Saiyidah Aisyah Mohamed Rafa'ee,F,28.0,173.0,68.0,Singapore,SGP,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Single Sculls,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271090,135557,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271101,135562,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [110]:
## Suppression des épreuves collectives ##

epcol = ['Synchronized', 'Doubles', 'Fours', 'Team', 'Relay', 'Group', 'Pairs', 'Quadruple', 'Three', 'Two', 'Mixed', 'Skiff', 'Tandem']

joml = joml[joml['Event'].apply(lambda x: not any(term in x for term in epcol))]

joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
256,128,Soulmaz Abbasi Azad,F,28.0,173.0,60.0,Iran,IRI,2012,Summer,London,Rowing,Rowing Women's Single Sculls,NaN
2166,1205,Christel Agrikola,F,23.0,173.0,66.0,West Germany,FRG,1976,Summer,Montreal,Rowing,Rowing Women's Single Sculls,NaN
2487,1398,Heba Ahmed,F,23.0,176.0,72.0,Egypt,EGY,2008,Summer,Beijing,Rowing,Rowing Women's Single Sculls,NaN
2621,1468,Mohamed Al-Aich,M,23.0,185.0,73.0,Algeria,ALG,2004,Summer,Athina,Rowing,Rowing Men's Single Sculls,NaN
2719,1515,Saiyidah Aisyah Mohamed Rafa'ee,F,28.0,173.0,68.0,Singapore,SGP,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Single Sculls,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36.0,182.0,82.0,Poland,POL,1988,Summer,Seoul,Fencing,"Fencing Men's Foil, Individual",NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN

In [111]:
## Suppression des 1ere infos de la colonne "Event" jusqu'à " 's " ##

joml.loc[:, 'Event'] = joml['Event'].str.split("'s", n=1).str[1].str.strip()
joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
256,128,Soulmaz Abbasi Azad,F,28.0,173.0,60.0,Iran,IRI,2012,Summer,London,Rowing,Single Sculls,NaN
2166,1205,Christel Agrikola,F,23.0,173.0,66.0,West Germany,FRG,1976,Summer,Montreal,Rowing,Single Sculls,NaN
2487,1398,Heba Ahmed,F,23.0,176.0,72.0,Egypt,EGY,2008,Summer,Beijing,Rowing,Single Sculls,NaN
2621,1468,Mohamed Al-Aich,M,23.0,185.0,73.0,Algeria,ALG,2004,Summer,Athina,Rowing,Single Sculls,NaN
2719,1515,Saiyidah Aisyah Mohamed Rafa'ee,F,28.0,173.0,68.0,Singapore,SGP,2016,Summer,Rio de Janeiro,Rowing,Single Sculls,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36.0,182.0,82.0,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN

In [112]:
## Arrondi à l'unité des colonnes 'Age' et 'height" ##

colonnes_arrondis = ['Age', 'Height']
for colonne in colonnes_arrondis:
    joml[colonne] = joml[colonne].astype(str).str.split('.').str[0].astype(int)
joml

C:\Users\molon\AppData\Local\Temp\ipykernel_16976\2670433051.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joml[colonne] = joml[colonne].astype(str).str.split('.').str[0].astype(int)
C:\Users\molon\AppData\Local\Temp\ipykernel_16976\2670433051.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joml[colonne] = joml[colonne].astype(str).str.split('.').str[0].astype(int)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
256,128,Soulmaz Abbasi Azad,F,28,173,60.0,Iran,IRI,2012,Summer,London,Rowing,Single Sculls,NaN
2166,1205,Christel Agrikola,F,23,173,66.0,West Germany,FRG,1976,Summer,Montreal,Rowing,Single Sculls,NaN
2487,1398,Heba Ahmed,F,23,176,72.0,Egypt,EGY,2008,Summer,Beijing,Rowing,Single Sculls,NaN
2621,1468,Mohamed Al-Aich,M,23,185,73.0,Algeria,ALG,2004,Summer,Athina,Rowing,Single Sculls,NaN
2719,1515,Saiyidah Aisyah Mohamed Rafa'ee,F,28,173,68.0,Singapore,SGP,2016,Summer,Rio de Janeiro,Rowing,Single Sculls,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36,182,82.0,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36,171,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN

In [113]:
## tri du dataset par la colonne 'ID' ##

joml = joml.sort_values(by='ID', ascending = True)
joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23,170,60.0,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31,172,70.0,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,NaN
33,13,Minna Maarit Aalto,F,34,159,55.5,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,NaN
32,13,Minna Maarit Aalto,F,30,159,55.5,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,NaN
43,17,Paavo Johannes Aaltonen,M,28,175,64.0,Finland,FIN,1948,Summer,London,Gymnastics,Floor Exercise,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36,182,82.0,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36,171,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN

In [114]:
## Suppression des lignes avant 1952 ##

joml = joml[joml['Year'] >= 1952]
joml

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23,170,60.0,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31,172,70.0,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,NaN
33,13,Minna Maarit Aalto,F,34,159,55.5,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,NaN
32,13,Minna Maarit Aalto,F,30,159,55.5,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,NaN
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36,182,82.0,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36,171,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN

In [115]:
## calcul de l'IMC par ligne et ajout du résultat dans une nouvelle colonne ##

joml['IMC'] = joml['Weight'] / (joml['Height'] / 100) ** 2
joml

C:\Users\molon\AppData\Local\Temp\ipykernel_16976\3250972547.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joml['IMC'] = joml['Weight'] / (joml['Height'] / 100) ** 2

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal,IMC
1,2,A Lamusi,M,23,170,60.0,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,NaN,20.761246
31,12,Jyri Tapani Aalto,M,31,172,70.0,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,NaN,23.661439
33,13,Minna Maarit Aalto,F,34,159,55.5,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,NaN,21.953246
32,13,Minna Maarit Aalto,F,30,159,55.5,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,NaN,21.953246
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,NaN,20.897959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN,24.755464
271083,135554,Bogusaw Zych,M,36,182,82.0,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN,24.755464
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN,22.395790
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN,22.395790
271099,135560,Stavroula Zygouri,F,36,171,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN,21.545091

In [116]:
## Limiter à deux décimales la colonne "IMC"  ##

joml['IMC'] = joml['IMC'].round(2)
joml

C:\Users\molon\AppData\Local\Temp\ipykernel_16976\3709646344.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joml['IMC'] = joml['IMC'].round(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal,IMC
1,2,A Lamusi,M,23,170,60.0,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,NaN,20.76
31,12,Jyri Tapani Aalto,M,31,172,70.0,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,NaN,23.66
33,13,Minna Maarit Aalto,F,34,159,55.5,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,NaN,21.95
32,13,Minna Maarit Aalto,F,30,159,55.5,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,NaN,21.95
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,NaN,20.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN,24.76
271083,135554,Bogusaw Zych,M,36,182,82.0,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN,24.76
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN,22.40
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN,22.40
271099,135560,Stavroula Zygouri,F,36,171,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN,21.55

In [117]:
## déplacer la colonne IMC à coté de la colonne Weight ##

col_to_move = 'IMC'
new_index = 6
cols = list(joml.columns)
cols.insert(new_index, cols.pop(cols.index(col_to_move)))
joml = joml[cols]
joml

,ID,Name,Sex,Age,Height,Weight,IMC,Team,NOC,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23,170,60.0,20.76,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31,172,70.0,23.66,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,NaN
33,13,Minna Maarit Aalto,F,34,159,55.5,21.95,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,NaN
32,13,Minna Maarit Aalto,F,30,159,55.5,21.95,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,NaN
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,20.90,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,24.76,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36,182,82.0,24.76,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36,171,63.0,21.55,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN

In [118]:
## Visualisation du nombre de lignes par Event ##

event_counts = joml['Event'].value_counts()
print(event_counts)

Event
Individual All-Around              2706
Floor Exercise                     2677
Road Race, Individual              2591
Individual                         2578
Singles                            2514
                                   ...
Running Target, 50 metres            46
500 metres Time Trial                29
Kayak Singles, 10,000 metres          8
Canadian Singles, 10,000 metres       7
Jumping, Individual                   7
Name: count, Length: 139, dtype: int64

In [119]:
## Suppression des Event ayant 10 linges ou moins ##

events_to_keep = event_counts[event_counts >= 10].index
joml = joml[joml['Event'].isin(events_to_keep)]
joml

,ID,Name,Sex,Age,Height,Weight,IMC,Team,NOC,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23,170,60.0,20.76,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31,172,70.0,23.66,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,NaN
33,13,Minna Maarit Aalto,F,34,159,55.5,21.95,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,NaN
32,13,Minna Maarit Aalto,F,30,159,55.5,21.95,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,NaN
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,20.90,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,24.76,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36,182,82.0,24.76,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36,171,63.0,21.55,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN

In [120]:
## Visualisation du nombre de lignes par Event ##

event_counts = joml['Event'].value_counts()
print(event_counts)

Event
Individual All-Around               2706
Floor Exercise                      2677
Road Race, Individual               2591
Individual                          2578
Singles                             2514
                                    ...
Individual Pursuit, 3,000 metres      60
Canadian Singles, 200 metres          50
One Person Heavyweight Dinghy         47
Running Target, 50 metres             46
500 metres Time Trial                 29
Name: count, Length: 136, dtype: int64

In [122]:
# Remplacer 'Bronze', 'Silver', 'Gold' par 'Yes' dans la colonne "Medal" ##

joml['Medal'] = joml['Medal'].replace({'Bronze': 'Yes', 'Silver': 'Yes', 'Gold': 'Yes'})
joml

C:\Users\molon\AppData\Local\Temp\ipykernel_16976\1111248981.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joml['Medal'] = joml['Medal'].replace({'Bronze': 'Yes', 'Silver': 'Yes', 'Gold': 'Yes'})

,ID,Name,Sex,Age,Height,Weight,IMC,Team,NOC,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23,170,60.0,20.76,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31,172,70.0,23.66,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,NaN
33,13,Minna Maarit Aalto,F,34,159,55.5,21.95,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,NaN
32,13,Minna Maarit Aalto,F,30,159,55.5,21.95,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,NaN
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,20.90,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,24.76,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",NaN
271083,135554,Bogusaw Zych,M,36,182,82.0,24.76,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,NaN
271099,135560,Stavroula Zygouri,F,36,171,63.0,21.55,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",NaN

In [123]:
## Remplacement les "NaN" par "No" dans la colonne "Medal" ##

joml['Medal'] = joml['Medal'].fillna('No')
joml

C:\Users\molon\AppData\Local\Temp\ipykernel_16976\3186558964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joml['Medal'] = joml['Medal'].fillna('No')

,ID,Name,Sex,Age,Height,Weight,IMC,Team,NOC,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23,170,60.0,20.76,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,No
31,12,Jyri Tapani Aalto,M,31,172,70.0,23.66,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,No
33,13,Minna Maarit Aalto,F,34,159,55.5,21.95,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,No
32,13,Minna Maarit Aalto,F,30,159,55.5,21.95,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,No
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,20.90,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,24.76,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",No
271083,135554,Bogusaw Zych,M,36,182,82.0,24.76,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",No
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,No
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,No
271099,135560,Stavroula Zygouri,F,36,171,63.0,21.55,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",No

In [124]:
## ajouter une colonne indiquant si les JO se déroulent dans le pays de l'athlète 1/4 ##

## Charger le fichier CSV issu du site "SimpleMaps" ##

cities_df = pd.read_csv('worldcities.csv')
cities_df.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37732000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629

In [125]:
## ajouter une colonne indiquant si les JO se déroulent dans le pays de l'athlète 2/4 ##

## Créer un dictionnaire avec les villes comme clés et les codes pays comme valeurs ##

city_country_dict = dict(zip(cities_df['city'], cities_df['iso3']))
city_country_dict

{'Tokyo': 'JPN',
 'Jakarta': 'IDN',
 'Delhi': 'USA',
 'Guangzhou': 'CHN',
 'Mumbai': 'IND',
 'Manila': 'PHL',
 'Shanghai': 'CHN',
 'São Paulo': 'BRA',
 'Seoul': 'KOR',
 'Mexico City': 'MEX',
 'Cairo': 'USA',
 'New York': 'USA',
 'Dhaka': 'BGD',
 'Beijing': 'CHN',
 'Kolkāta': 'IND',
 'Bangkok': 'THA',
 'Shenzhen': 'CHN',
 'Moscow': 'USA',
 'Buenos Aires': 'BRA',
 'Lagos': 'PRT',
 'Istanbul': 'TUR',
 'Karachi': 'PAK',
 'Bangalore': 'IND',
 'Ho Chi Minh City': 'VNM',
 'Ōsaka': 'JPN',
 'Chengdu': 'CHN',
 'Tehran': 'IRN',
 'Kinshasa': 'COD',
 'Rio de Janeiro': 'BRA',
 'Chennai': 'IND',
 'Xi’an': 'CHN',
 'Lahore': 'PAK',
 'Chongqing': 'CHN',
 'Los Angeles': 'USA',
 'Baoding': 'CHN',
 'London': 'USA',
 'Paris': 'USA',
 'Linyi': 'CHN',
 'Dongguan': 'CHN',
 'Hyderābād': 'IND',
 'Tianjin': 'CHN',
 'Lima': 'PRY',
 'Wuhan': 'CHN',
 'Nanyang': 'CHN',
 'Hangzhou': 'CHN',
 'Foshan': 'CHN',
 'Nagoya': 'JPN',
 'Tongshan': 'CHN',
 'Luanda': 'AGO',
 'Zhoukou': 'CHN',
 'Ganzhou': 'CHN',
 'Kuala Lumpur': 'MYS',
 'Heze': 'CHN',
 'Quanzhou': 'CHN',
 'Johannesburg': 'ZAF',
 'Chicago': 'USA',
 'Nanjing': 'CHN',
 'Jining': 'CHN',
 'Hanoi': 'VNM',
 'Pune': 'IND',
 'Fuyang': 'CHN',
 'Ahmedabad': 'IND',
 'Bogotá': 'COL',
 'Shenyang': 'CHN',
 'Dar es Salaam': 'TZA',
 'Khartoum': 'SDN',
 'Shangqiu': 'CHN',
 'Hong Kong': 'HKG',
 'Cangzhou': 'CHN',
 'Riyadh': 'SAU',
 'Santiago': 'PER',
 'Xingtai': 'CHN',
 'Zhumadian': 'CHN',
 'Chattogram': 'BGD',
 'Surabaya': 'IDN',
 'Zhanjiang': 'CHN',
 'Bijie': 'CHN',
 'Yancheng': 'CHN',
 'Hengyang': 'CHN',
 'Zunyi': 'CHN',
 'Shaoyang': 'CHN',
 'Sūrat': 'IND',
 'Shangrao': 'CHN',
 'Xinyang': 'CHN',
 'Madrid': 'PHL',
 'Baghdad': 'IRQ',
 'Maoming': 'CHN',
 'Jieyang': 'CHN',
 'Miami': 'USA',
 'Singapore': 'SGP',
 'Houston': 'USA',
 'Liaocheng': 'CHN',
 'Huanggang': 'CHN',
 'Dalian': 'CHN',
 'Dallas': 'USA',
 'Qingdao': 'CHN',
 'Yulin': 'CHN',
 'Douala': 'CMR',
 'Qujing': 'CHN',
 'Nangandao': 'CHN',
 'Philadelphia': 'USA',
 'Pudong': 'CHN',
 'Toronto': 'CAN',
 'Zhengzhou': 'CHN',
 'Dezhou': 'CHN',
 'Nanchong': 'CHN',
 'Jinan': 'CHN',
 'Giza': 'EGY',
 'Nairobi': 'KEN',
 'Guadalajara': 'ESP',
 'Ankara': 'TUR',
 'Tai’an': 'CHN',
 'Langfang': 'CHN',
 'Dazhou': 'CHN',
 'Saint Petersburg': 'RUS',
 'Monterrey': 'COL',
 'Belo Horizonte': 'BRA',
 'Suzhou': 'CHN',
 'Yongzhou': 'CHN',
 'Changde': 'CHN',
 'Xiangyang': 'CHN',
 'Rangoon': 'MMR',
 'Atlanta': 'USA',
 'Washington': 'USA',
 'Zhaotong': 'CHN',
 'Zhangzhou': 'CHN',
 'Melbourne': 'USA',
 'Yichun': 'CHN',
 'Bozhou': 'CHN',
 'Suqian': 'CHN',
 'Abidjan': 'CIV',
 'Ji’an': 'TWN',
 'Guilin': 'CHN',
 'Pingdingshan': 'CHN',
 'Berlin': 'USA',
 'Alexandria': 'ZAF',
 'Mianyang': 'CHN',
 'Sydney': 'AUS',
 'Huanglongsi': 'CHN',
 'Barcelona': 'PHL',
 'Yuncheng': 'CHN',
 'Cape Town': 'ZAF',
 'Changsha': 'CHN',
 'Jeddah': 'SAU',
 'Weinan': 'CHN',
 'Chenzhou': 'CHN',
 'Jiangmen': 'CHN',
 'Jiujiang': 'CHN',
 'Xinpu': 'CHN',
 'Yibin': 'CHN',
 'Huaihua': 'CHN',
 'Yangzhou': 'CHN',
 'Taizhou': 'CHN',
 'Kunming': 'CHN',
 'Yiyang': 'CHN',
 'Changchun': 'CHN',
 'Lu’an': 'CHN',
 'Jiangguanchi': 'CHN',
 'Meizhou': 'CHN',
 'Ürümqi': 'CHN',
 'Boston': 'PHL',
 'İzmir': 'TUR',
 'Guigang': 'CHN',
 'Shantou': 'CHN',
 'Kabul': 'AFG',
 'Xiaoganzhan': 'CHN',
 'Bamako': 'MLI',
 'Luzhou': 'CHN',
 'Hefei': 'CHN',
 'Hengshui': 'CHN',
 'Fortaleza': 'BRA',
 'Anqing': 'CHN',
 'Liuzhou': 'CHN',
 'Zhangjiakou': 'CHN',
 'Zhaoqing': 'CHN',
 'Shijiazhuang': 'CHN',
 'Ningbo': 'CHN',
 'Qiqihar': 'CHN',
 'Phoenix': 'USA',
 'Fuzhou': 'CHN',
 'Chifeng': 'CHN',
 'Xiaoxita': 'CHN',
 'Amman': 'JOR',
 'Chuzhou': 'CHN',
 'Linfen': 'CHN',
 'Qingyuan': 'CHN',
 'Xianyang': 'CHN',
 'Loudi': 'CHN',
 'Binzhou': 'CHN',
 'Zhuzhou': 'CHN',
 'Taiyuan': 'CHN',
 'Nanning': 'CHN',
 'Harbin': 'CHN',
 'Abuja': 'NGA',
 'Yokohama': 'JPN',
 'Suihua': 'CHN',
 'Zaozhuang': 'CHN',
 'Detroit': 'USA',
 'Xiamen': 'CHN',
 'Neijiang': 'CHN',
 'Montréal': 'CAN',
 'Baicheng': 'CHN',
 'Wuhu': 'CHN',
 'Yulinshi': 'CHN',
 'Medan': 'IDN',
 'Wenzhou': 'CHN',
 'Changzhou': 'CHN',
 'Puyang': 'CHN',
 'Jiaozuo': 'CHN',
 'Nanchang': 'CHN',
 'Seattle': 'USA',
 'Ibadan': 'NGA',
 'Casablanca': 'CHL',
 'Kumasi': 'GHA',
 'Deyang': 'CHN',
 'Busan': 'KOR',
 'Hohhot': 'CHN',
 'Hechi': 'CHN',
 'Algiers': 'DZA',
 'Tangshan': 'CHN',
 'Shiyan': 'CHN',
 'Lucknow': 'IND',
 'Mashhad': 'IRN',
 'San Francisco': 'HND',
 'Boankra': 'GHA',
 'Dubai': 'ARE',
 'Anshan': 'CHN',
 'Baojishi': 'CHN',
 'Qinzhou': 'CHN',
 'Guiyang': 'CHN',
 'Bengbu': 'CHN',
 'Bazhou': 'CHN',
 'Suining': 'CHN',
 'Wuxi': 'CHN',
 'Kotla Qasim Khan': 'PAK',
 'Hanzhong': 'CHN',
 'Putian': 'CHN',
 'Zhenjiang': 'CHN',
 'Guang’an': 'CHN',
 'Faisalabad': 'PAK',
 'Changzhi': 'TWN',
 'Tongren': 'CHN',
 'Leshan': 'CHN',
 'Santa Cruz de la Sierra': 'BOL',
 'Qinhuangdao': 'CHN',
 'Jaipur': 'IND',
 'Xinzhou': 'CHN',
 'Lanzhou': 'CHN',
 'Wuzhou': 'CHN',
 'Athens': 'USA',
 'San Diego': 'COL',
 'Addis Ababa': 'ETH',
 'Taichung': 'TWN',
 'Huainan': 'CHN',
 'Guatemala City': 'GTM',
 'Kuwait City': 'KWT',
 'Budapest': 'HUN',
 'Qincheng': 'CHN',
 'Rizhao': 'CHN',
 'Quezon City': 'PHL',
 'Sanaa': 'YEM',
 'Tashkent': 'UZB',
 'Kyiv': 'UKR',
 'Meishan': 'TWN',
 'Incheon': 'KOR',
 'Birmingham': 'USA',
 'Ningde': 'CHN',
 'Zhongshan': 'CHN',
 'Weihai': 'CHN',
 'Bursa': 'TUR',
 'Minneapolis': 'USA',
 'Mbuji-Mayi': 'COD',
 'Haikou': 'CHN',
 'Tongliao': 'CHN',
 'Chaoyang': 'CHN',
 'La Paz': 'ARG',
 'Pyongyang': 'PRK',
 'Tampa': 'USA',
 'Shaoguan': 'CHN',
 'Heyuan': 'CHN',
 'Brasília': 'BRA',
 'Omdurman': 'SDN',
 'Malang': 'IDN',
 'Stuttgart': 'DEU',
 'Daqing': 'CHN',
 'Rome': 'USA',
 'Brooklyn': 'USA',
 'Kaohsiung': 'TWN',
 'Xiangtan': 'CHN',
 'Longyan': 'CHN',
 'Baotou': 'CHN',
 'Handan': 'CHN',
 'Jinzhou': 'CHN',
 'Kanpur': 'IND',
 'Denver': 'USA',
 'Nanping': 'CHN',
 'Gāzipura': 'BGD',
 'Shanwei': 'CHN',
 'Chaozhou': 'TWN',
 'Guayaquil': 'ECU',
 'Weifang': 'CHN',
 'Huai’an': 'CHN',
 'Zibo': 'CHN',
 'Ankang': 'CHN',
 'Mogadishu': 'SOM',
 'Munich': 'DEU',
 'Gulou': 'CHN',
 'Taipei': 'TWN',
 'Bekasi': 'IDN',
 'Damascus': 'USA',
 'Sanming': 'CHN',
 'Yangjiang': 'CHN',
 'Jiamusi': 'CHN',
 'Luohe': 'CHN',
 'Medellín': 'COL',
 'Dingxi': 'CHN',
 'Shaoxing': 'CHN',
 'Yantai': 'CHN',
 'Huizhou': 'CHN',
 'Lishui': 'CHN',
 'Xuanzhou': 'CHN',
 'Khowrhesht': 'IRN',
 'Mirzāpur': 'IND',
 'Zigong': 'CHN',
 'Hamburg': 'USA',
 'Guangyuan': 'CHN',
 'Cali': 'COL',
 'Huangshi': 'CHN',
 'Xining': 'CHN',
 'Lusaka': 'ZMB',
 'Ouagadougou': 'BFA',
 'Yaoundé': 'CMR',
 'Zhuhai': 'CHN',
 'Huludao': 'CHN',
 'Baoshan': 'TWN',
 'Mecca': 'SAU',
 'Vancouver': 'USA',
 'Lianshan': 'CHN',
 'Beirut': 'LBN',
 'Salvador': 'CUB',
 'Bucharest': 'ROU',
 'Longba': 'CHN',
 'Nāgpur': 'IND',
 'Queens': 'CAN',
 'Jilin': 'CHN',
 'Tieling': 'CHN',
 'Accra': 'GHA',
 'Yunfu': 'CHN',
 'Bekasi Kota': 'IDN',
 'Daegu': 'KOR',
 'Ghāziābād': 'IND',
 'Luoyang': 'CHN',
 'Brisbane': 'AUS',
 'Anshun': 'CHN',
 'Riverside': 'USA',
 'Yingkou': 'CHN',
 'Colombo': 'BRA',
 'Yanjiang': 'CHN',
 'Baku': 'AZE',
 'Antananarivo': 'MDG',
 'Mudanjiang': 'CHN',
 'Fukuoka': 'JPN',
 'Yan’an': 'CHN',
 'Jincheng': 'TWN',
 'Nantong': 'CHN',
 'Lincang': 'CHN',
 'Yuxi': 'CHN',
 'Las Vegas': 'USA',
 'Caracas': 'VEN',
 'Tangerang': 'IDN',
 'Laibin': 'CHN',
 'Konya': 'TUR',
 'Supaul': 'IND',
 'Vienna': 'USA',
 'Eşfahān': 'IRN',
 'Baltimore': 'USA',
 'Shengli': 'CHN',
 'Dandong': 'CHN',
 'Qinbaling': 'CHN',
 'Gaoping': 'CHN',
 'Awka': 'NGA',
 'Ma’anshan': 'CHN',
 'Harare': 'ZWE',
 'Perth': 'GBR',
 'St. Louis': 'USA',
 'Phnom Penh': 'KHM',
 'Depok': 'IDN',
 'Stockholm': 'SWE',
 'Puning': 'CHN',
 'Huaibei': 'CHN',
 'Kowloon': 'HKG',
 'Córdoba': 'COL',
 'Haiphong': 'VNM',
 'Zamboanga City': 'PHL',
 'Chongzuo': 'CHN',
 'Rawalpindi': 'PAK',
 'Portland': 'AUS',
 'Kano': 'NGA',
 'Yushan': 'CHN',
 'Havana': 'CUB',
 'Hezhou': 'CHN',
 'Pingliang': 'CHN',
 'Vadodara': 'IND',
 'Manaus': 'BRA',
 'Qingyang': 'CHN',
 'San Antonio': 'PHL',
 'Rājkot': 'IND',
 'Shangzhou': 'CHN',
 'Vishākhapatnam': 'IND',
 'Sanmenxia': 'CHN',
 'Gujranwala': 'PAK',
 'Aleppo': 'SYR',
 'Tijuana': 'MEX',
 'Bamenda': 'CMR',
 'Minsk': 'BLR',
 'Indore': 'IND',
 'Karaj': 'IRN',
 'Kananga': 'COD',
 'Peshawar': 'PAK',
 'Sapporo': 'JPN',
 'Sacramento': 'BRA',
 'Tilburg': 'NLD',
 'Pingxiang': 'CHN',
 'Ecatepec': 'MEX',
 'Almaty': 'KAZ',
 'Austin': 'USA',
 'Yinchuan': 'CHN',
 'Santos': 'BRA',
 'Blantyre': 'MWI',
 'Thāne': 'IND',
 'Orlando': 'USA',
 'Tainan': 'TWN',
 'Xiping': 'CHN',
 'Multan': 'PAK',
 'Santa Cruz': 'PHL',
 'Port Harcourt': 'NGA',
 'Jixi': 'CHN',
 'Fushun': 'CHN',
 'Warsaw': 'USA',
 'Beihai': 'CHN',
 'Fuxin': 'CHN',
 'Wuwei': 'CHN',
 'Siping': 'CHN',
 'San Juan': 'PHL',
 'Mersin': 'TUR',
 'Bhopāl': 'IND',
 'Mosul': 'IRQ',
 'Lubumbashi': 'COD',
 'Davao': 'PHL',
 'Curitiba': 'BRA',
 'San Jose': 'PHL',
 'Shuyangzha': 'CHN',
 'Adana': 'TUR',
 'Quito': 'ECU',
 'Pittsburgh': 'USA',
 'Brazzaville': 'COG',
 'Hyderabad City': 'PAK',
 'Diyarbakır': 'TUR',
 'Indianapolis': 'USA',
 'Pimpri-Chinchwad': 'IND',
 'Masqaţ': 'OMN',
 'Montevideo': 'URY',
 'Shuozhou': 'CHN',
 'Manhattan': 'USA',
 'Cincinnati': 'USA',
 'Kansas City': 'USA',
 'Patna': 'IND',
 'Tegucigalpa': 'HND',
 'Kampala': 'UGA',
 'Cleveland': 'USA',
 'Sanzhou': 'CHN',
 'Changshu': 'CHN',
 'Heihe': 'CHN',
 'Conakry': 'GIN',
 'Ximeicun': 'CHN',
 'Caloocan City': 'PHL',
 'Masvingo': 'ZWE',
 'Zhongli': 'TWN',
 'Novosibirsk': 'RUS',
 'Bilāspur': 'IND',
 'Semarang': 'IDN',
 'Jingdezhen': 'CHN',
 'Ludhiāna': 'IND',
 'Liaoyang': 'CHN',
 'Chengtangcun': 'CHN',
 'Rājshāhi': 'BGD',
 'Balandougou': 'MLI',
 'Jiangyin': 'CHN',
 'Valencia': 'TTO',
 'Āgra': 'IND',
 'León de los Aldama': 'MEX',
 'Puebla': 'MEX',
 'Columbus': 'USA',
 'Yopougon': 'CIV',
 'Hebi': 'CHN',
 'Shīrāz': 'IRN',
 'Madurai': 'IND',
 'Huzhou': 'CHN',
 'Tabrīz': 'IRN',
 'Jamshedpur': 'IND',
 'Maracaibo': 'VEN',
 'Sofia': 'BGR',
 'San José': 'COL',
 'Prayagraj': 'IND',
 'Palembang': 'IDN',
 'Kawasaki': 'JPN',
 'Kōbe': 'JPN',
 'Jiaxing': 'CHN',
 'Kigali': 'RWA',
 'Zhangjiajie': 'CHN',
 'Baiyin': 'CHN',
 'Guiping': 'CHN',
 'Lianjiang': 'CHN',
 'Jianguang': 'CHN',
 'Yucheng': 'CHN',
 'Xushan': 'CHN',
 'Panama City': 'USA',
 'Nneyi-Umuleri': 'NGA',
 'Leizhou': 'CHN',
 'Gwangju': 'KOR',
 'Katako-Kombe': 'COD',
 'Recife': 'BRA',
 'Nāsik': 'IND',
 'Onitsha': 'NGA',
 'Abu Dhabi': 'ARE',
 'Zapopan': 'MEX',
 'Daejeon': 'KOR',
 'Bronx': 'USA',
 'Yekaterinburg': 'RUS',
 'Huazhou': 'CHN',
 'Jinhua': 'CHN',
 'Kyōto': 'JPN',
 'Amsterdam': 'USA',
 'Pizhou': 'CHN',
 'Kismaayo': 'SOM',
 'Yangshe': 'CHN',
 'Virginia Beach': 'USA',
 'Dakar': 'SEN',
 'Goiânia': 'BRA',
 'Charlotte': 'USA',
 'Rui’an': 'CHN',
 'Muscat': 'OMN',
 'Kharkiv': 'UKR',
 'Wenling': 'CHN',
 'Gaozhou': 'CHN',
 'Farīdābād': 'IND',
 'Medina': 'COL',
 'Khulna': 'BGD',
 'Ulaanbaatar': 'MNG',
 'Fuqing': 'CHN',
 'Kayseri': 'TUR',
 'Tel Aviv-Yafo': 'ISR',
 'Wuzhong': 'CHN',
 'Pingdu': 'CHN',
 'Sangereng': 'IDN',
 'Yangquan': 'CHN',
 'Samsun': 'TUR',
 'Yutan': 'CHN',
 'Copenhagen': 'DNK',
 'Helsinki': 'FIN',
 'Prague': 'CZE',
 'Milan': 'ITA',
 'Auckland': 'NZL',
 'Chizhou': 'CHN',
 'Makassar': 'IDN',
 'Liangshi': 'CHN',
 'Porto Alegre': 'BRA',
 'Huangshan': 'CHN',
 'Barranquilla': 'COL',
 'Al Başrah': 'IRQ',
 'Benxi': 'CHN',
 'Saitama': 'JPN',
 'Guarulhos': 'BRA',
 'Juárez': 'MEX',
 'Mandalay': 'MMR',
 'Xintai': 'CHN',
 'Wusong': 'CHN',
 'Calgary': 'CAN',
 'Meerut': 'IND',
 'Yushu': 'CHN',
 'Belém': 'BRA',
 'Kuaidamao': 'CHN',
 'Baishan': 'CHN',
 'Adelaide': 'ZAF',
 'Haicheng': 'CHN',
 'Milwaukee': 'USA',
 'Providence': 'USA',
 'Jacksonville': 'USA',
 'Yicheng': 'CHN',
 'Cacuaco': 'AGO',
 'Porto': 'BRA',
 'Rosario': 'URY',
 'Canagatan': 'PHL',
 'Soweto': 'ZAF',
 'Bagam': 'IDN',
 'Jabalpur': 'IND',
 'Rucheng': 'CHN',
 'Huaiyin': 'CHN',
 'Dublin': 'USA',
 'Kazan': 'RUS',
 'Dayan': 'CHN',
 'Balıkesir': 'TUR',
 'Comayagüela': 'HND',
 'Laiwu': 'CHN',
 'Sharjah': 'ARE',
 'Jingling': 'CHN',
 'Kalyān': 'IND',
 'Nizhniy Novgorod': 'RUS',
 'Yongcheng': 'CHN',
 'Sumedang': 'IDN',
 'Cần Thơ': 'VNM',
 'Brussels': 'BEL',
 'Suwon': 'KOR',
 'Yiwu': 'CHN',
 'Beidao': 'CHN',
 'Vasai-Virar': 'IND',
 'Xiangshui': 'CHN',
 'Dadukou': 'CHN',
 'Campinas': 'BRA',
 'Lingcheng': 'CHN',
 'Shuangyashan': 'CHN',
 'Mombasa': 'KEN',
 'Najafgarh': 'IND',
 'Xinyu': 'CHN',
 'Qom': 'IRN',
 'Hargeysa': 'SOM',
 'Baidoa': 'SOM',
 'Zhangye': 'CHN',
 'Vārānasi': 'IND',
 'Hiroshima': 'JPN',
 'Chiang Mai': 'THA',
 'Belgrade': 'USA',
 'Maiduguri': 'NGA',
 'Chelyabinsk': 'RUS',
 'Batam Centre': 'IDN',
 'Rongcheng': 'CHN',
 'Mbandaka': 'COD',
 'Doha': 'QAT',
 'Ahvāz': 'IRN',
 'Shymkent': 'KAZ',
 'Tripoli': 'LBN',
 'Srīnagar': 'IND',
 'Nashville': 'USA',
 'Liaoyuan': 'CHN',
 'Aurangābād': 'IND',
 'Cilacap': 'IDN',
 'Salt Lake City': 'IND',
 'Omsk': 'RUS',
 'Pikine': 'SEN',
 'Samara': 'RUS',
 'Guankou': 'CHN',
 'Bandar Lampung': 'IDN',
 'Raleigh': 'USA',
 'Lianyuan': 'CHN',
 'Dhanbād': 'IND',
 'Nay Pyi Taw': 'MMR',
 'Aba': 'CHN',
 'Kaiyuan': 'CHN',
 'Zhuji': 'CHN',
 'Yingtan': 'CHN',
 'Edmonton': 'GBR',
 'Leiyang': 'CHN',
 'Ulsan': 'KOR',
 'Benin City': 'NGA',
 'Bujumbura': 'BDI',
 'Guyuan': 'CHN',
 'Xiantao': 'CHN',
 'Rostov': 'RUS',
 'Maputo': 'MOZ',
 'Bukavu': 'COD',
 'Amritsar': 'IND',
 'Shagamu': 'NGA',
 'Yingchuan': 'CHN',
 'Alīgarh': 'IND',
 'Santo Domingo': 'COL',
 'Bogor': 'IDN',
 'Bishkek': 'KGZ',
 'Tbilisi': 'GEO',
 'Guwāhāti': 'IND',
 'Ufa': 'RUS',
 'Fès': 'MAR',
 'Mwanza': 'MWI',
 'Biên Hòa': 'VNM',
 'Mexicali': 'MEX',
 'Sevilla': 'PHL',
 'Ikare': 'NGA',
 'Dongtai': 'CHN',
 'Dingzhou': 'CHN',
 'Xibeijie': 'CHN',
 'Tamale': 'GHA',
 'Yuyao': 'CHN',
 'Hanchuan': 'CHN',
 'Gongzhuling': 'CHN',
 'N’Djamena': 'TCD',
 'Ubungo': 'TZA',
 'Cologne': 'DEU',
 'Krasnoyarsk': 'RUS',
 'Zhufeng': 'CHN',
 'Ezhou': 'CHN',
 'Astana': 'KAZ',
 'Nezahualcóyotl': 'MEX',
 'Nouakchott': 'MRT',
 'Hāora': 'IND',
 'Tongjin': 'KOR',
 'Xiashi': 'CHN',
 'Yerevan': 'ARM',
 'Rānchi': 'IND',
 'Richmond': 'AUS',
 'Ciudad Nezahualcóyotl': 'MEX',
 'Gwalior': 'IND',
 'Ottawa': 'USA',
 'Zhongwei': 'CHN',
 'Oslo': 'NOR',
 'Goyang': 'KOR',
 'Sendai': 'JPN',
 'Mizhou': 'CHN',
 'Xishan': 'CHN',
 'Barquisimeto': 'VEN',
 'Hegang': 'CHN',
 'Chandīgarh': 'IND',
 'Voronezh': 'RUS',
 'Managua': 'NIC',
 'Haldwāni': 'IND',
 'Vijayavāda': 'IND',
 'Perm': 'RUS',
 'Fangchenggang': 'CHN',
 'Jiancheng': 'CHN',
 'Cazenga': 'AGO',
 'Kisangani': 'COD',
 'Shouguang': 'CHN',
 'Memphis': 'USA',
 'São Luís': 'BRA',
 'Jodhpur': 'IND',
 'Matola': 'MOZ',
 'Ogbomoso': 'NGA',
 'Sanya': 'CHN',
 'Rangapukur': 'BGD',
 'Ashgabat': 'TKM',
 'Wutong': 'CHN',
 'Linhai': 'CHN',
 'Denizli': 'TUR',
 'Niamey': 'NER',
 'Shubrā al Khaymah': 'EGY',
 'Wafangdian': 'CHN',
 'Zhongxiang': 'CHN',
 'Monrovia': 'USA',
 'San Cristóbal': 'ARG',
 'Islamabad': 'PAK',
 'Xinyi': 'CHN',
 'Thủ Đức': 'VNM',
 'Morelia': 'MEX',
 'Odesa': 'UKR',
 'Raipur': 'IND',
 'Changwon': 'KOR',
 'Arequipa': 'PER',
 'Volgograd': 'RUS',
 'Zaoyang': 'CHN',
 'Xingyi': 'CHN',
 'Shuizhai': 'CHN',
 'Kota': 'IND',
 'Quetta': 'PAK',
 'Quảng Hà': 'VNM',
 'Domaa-Ahenkro': 'GHA',
 'Bareilly': 'IND',
 'Oklahoma City': 'USA',
 'Bordeaux': 'FRA',
 'Xingcheng': 'CHN',
 'Taixing': 'CHN',
 'Xinhualu': 'CHN',
 'Lilongwe': 'MWI',
 'Port-au-Prince': 'HTI',
 'Yingcheng': 'CHN',
 'Al Mijlad': 'SDN',
 'Luocheng': 'CHN',
 'Pekanbaru': 'IDN',
 'Natal': 'BRA',
 'Chiba': 'JPN',
 'Kirkuk': 'IRQ',
 'Hartford': 'USA',
 'Huilong': 'CHN',
 'Wuchuan': 'CHN',
 'Dnipro': 'UKR',
 'Nārāyanganj': 'BGD',
 'Gqeberha': 'ZAF',
 'Málaga': 'COL',
 'Marrakech': 'MAR',
 'Cebu City': 'PHL',
 'Louisville': 'USA',
 'Asmara': 'ERI',
 'Coimbatore': 'IND',
 'Maceió': 'BRA',
 'Nada': 'CHN',
 'Taishan': 'CHN',
 'Teresina': 'BRA',
 'Solāpur': 'IND',
 'Freetown': 'USA',
 'Santo Domingo Este': 'DOM',
 'Krasnodar': 'RUS',
 'Vientiane': 'LAO',
 'Tangier': 'MAR',
 'Anqiu': 'CHN',
 'Kermānshāh': 'IRN',
 'Feicheng': 'CHN',
 'Kibanseke Première': 'COD',
 'Seberang Jaya': 'MYS',
 'Buffalo': 'USA',
 'Hubli': 'IND',
 'El Alto': 'BOL',
 'Çankaya': 'TUR',
 'Hwasu-dong': 'KOR',
 'Setagaya': 'JPN',
 'Keçiören': 'TUR',
 'Jerusalem': 'ISR',
 'Khartoum North': 'SDN',
 'Mushin': 'NGA',
 'Trujillo': 'ESP',
 'Kitakyūshū': 'JPN',
 'Aguascalientes': 'MEX',
 'New Orleans': 'USA',
 'Fort Worth': 'USA',
 'Taihe': 'CHN',
 'Riga': 'IND',
 'Xin’an': 'CHN',
 'Taihecun': 'CHN',
 'Kashgar': 'CHN',
 'Sŏngnam': 'KOR',
 'Trichinopoly': 'IND',
 'Cartagena': 'CHL',
 'Qingzhou': 'CHN',
 'Naples': 'USA',
 'Santiago del Estero': 'ARG',
 'Naucalpan de Juárez': 'MEX',
 'Daye': 'CHN',
 'Hengzhou': 'CHN',
 'Padang': 'IDN',
 'Bridgeport': 'USA',
 'Owerri': 'NGA',
 'Zhuanghe': 'CHN',
 'Bobo-Dioulasso': 'BFA',
 'Ad Dammām': 'SAU',
 'Quzhou': 'CHN',
 'Donetsk': 'RUS',
 'Ashmūn': 'EGY',
 'Bunia': 'COD',
 'Jiaozhou': 'CHN',
 'Campo Grande': 'BRA',
 'Wuchang': 'CHN',
 'São Gonçalo': 'BRA',
 'Bucaramanga': 'COL',
 'Mérida': 'ESP',
 'Yangchun': 'CHN',
 'Osmangazi': 'TUR',
 'Esenyurt': 'TUR',
 'Morādābād': 'IND',
 'Bangui': 'PHL',
 'Abeokuta': 'NGA',
 'Cancún': 'MEX',
 'Antipolo': 'PHL',
 'Dengtalu': 'CHN',
 'Taguig City': 'PHL',
 'Tabūk': 'SAU',
 'Zhoushan': 'CHN',
 'Tucson': 'USA',
 'As Sulaymānīyah': 'IRQ',
 'Chihuahua': 'MEX',
 'Klang': 'MYS',
 'Tiruppūr': 'IND',
 'Gurgaon': 'IND',
 'Ar Ramādī': 'IRQ',
 'Hai’an': 'CHN',
 'Laiyang': 'CHN',
 'Barinas': 'VEN',
 'Jalandhar': 'IND',
 'Marseille': 'FRA',
 'Kaifeng Chengguanzhen': 'CHN',
 'Eskişehir': 'TUR',
 'Gaomi': 'CHN',
 'Lhasa': 'CHN',
 'Ipoh': 'MYS',
 'El Paso': 'COL',
 'Saltillo': 'MEX',
 'Dushanbe': 'TJK',
 'Ikeja': 'NGA',
 'El Dorado': 'VEN',
 'Cochabamba': 'BOL',
 'Portsmouth': 'USA',
 'Tyumen': 'RUS',
 'Southampton': 'USA',
 'Hermosillo': 'MEX',
 'Leping': 'CHN',
 'Cheongju': 'KOR',
 'Shache': 'CHN',
 'Sale': 'AUS',
 'Hailun': 'CHN',
 'Macheng': 'CHN',
 'Akure': 'NGA',
 'Ilorin': 'NGA',
 'Erbil': 'IRQ',
 'Kathmandu': 'NPL',
 'Saratov': 'RUS',
 'Iguaçu': 'BRA',
 'Zijinglu': 'CHN',
 'Turin': 'ITA',
 'Yuci': 'CHN',
 'Dehui': 'CHN',
 'Pietermaritzburg': 'ZAF',
 'Durban': 'ZAF',
 'Bhubaneshwar': 'IND',
 'Denpasar': 'IDN',
 'Tongchuan': 'CHN',
 'João Pessoa': 'BRA',
 'Samarinda': 'IDN',
 'Chengxiang': 'CHN',
 'Rongjiawan': 'CHN',
 'Weichanglu': 'CHN',
 'Sakai': 'JPN',
 'Renqiu': 'CHN',
 'Omaha': 'USA',
 'Xindi': 'CHN',
 'Wu’an': 'CHN',
 'Qingping': 'CHN',
 'Gaoyou': 'CHN',
 'São Bernardo do Campo': 'BRA',
 'Hejian': 'CHN',
 'Puxi': 'CHN',
 'Bhayandar': 'IND',
 'Androtsy': 'MDG',
 'Culiacán': 'MEX',
 'Cúcuta': 'COL',
 'Danyang': 'CHN',
 'Dongyang': 'CHN',
 'Kraków': 'POL',
 'Pasig City': 'PHL',
 'Thessaloníki': 'GRC',
 'Querétaro': 'MEX',
 'Palermo': 'ITA',
 'Xigazê': 'CHN',
 'Qamdo': 'CHN',
 'McAllen': 'USA',
 'Libreville': 'GAB',
 'Seyhan': 'TUR',
 'San Pedro Sula': 'HND',
 'Niigata': 'JPN',
 'Hempstead': 'USA',
 'Leeds': 'USA',
 'Hamamatsu': 'JPN',
 'Pointe-Noire': 'COG',
 'Xiangxiang': 'CHN',
 'Chaohucun': 'CHN',
 'Bucheon': 'KOR',
 'Lubango': 'AGO',
 'Homs': 'SYR',
 'Bilbao': 'ESP',
 'Zouping': 'CHN',
 'Frankfurt': 'DEU',
 'San Luis Potosí': 'MEX',
 'Dali': 'CHN',
 'Khŭjand': 'TJK',
 'Korla': 'CHN',
 'Albuquerque': 'USA',
 'Hamhŭng': 'PRK',
 'Erzurum': 'TUR',
 'Zagreb': 'HRV',
 'Al ‘Ayn': 'ARE',
 'Songzi': 'CHN',
 'Patiāla': 'IND',
 'Laixi': 'CHN',
 'Zhongba': 'CHN',
 'Bahawalpur': 'PAK',
 'Qingnian': 'CHN',
 'Kaduna': 'NGA',
 'Winnipeg': 'CAN',
 'Trabzon': 'TUR',
 'Guangshui': 'CHN',
 'Baardheere': 'SOM',
 'Shīshgarh': 'IND',
 'Nerima': 'JPN',
 'Sizhan': 'CHN',
 'Ciudad Guayana': 'VEN',
 'Lichuan': 'CHN',
 'Licheng': 'CHN',
 'Santo André': 'PRT',
 'Ōta-ku': 'JPN',
 'Gaalkacyo': 'SOM',
 'Thiruvananthapuram': 'IND',
 'Osasco': 'BRA',
 'Nampula': 'MOZ',
 'Pretoria': 'ZAF',
 'Kyaukse': 'MMR',
 'Chengguan': 'CHN',
 'Nehe': 'CHN',
 'Cabinda': 'AGO',
 'Kumamoto': 'JPN',
 'Kermān': 'IRN',
 'Zunhua': 'CHN',
 'Orūmīyeh': 'IRN',
 'Wugang': 'CHN',
 'Bağcılar': 'TUR',
 'Quebec City': 'CAN',
 'Shuangqiao': 'CHN',
 ...}

In [126]:
## ajouter une colonne indiquant si les JO se déroulent dans le pays de l'athlète 3/4 ##

def check_city_in_country(city, country_code):
    return city_country_dict.get(city) == country_code

## Appliquer cette fonction à chaque ligne du dataframe ##

joml['City_in_Country'] = joml.apply(lambda row: check_city_in_country(row['City'], row['NOC']), axis=1)
joml

C:\Users\molon\AppData\Local\Temp\ipykernel_16976\1618797573.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joml['City_in_Country'] = joml.apply(lambda row: check_city_in_country(row['City'], row['NOC']), axis=1)

,ID,Name,Sex,Age,Height,Weight,IMC,Team,NOC,Year,Season,City,Sport,Event,Medal,City_in_Country
1,2,A Lamusi,M,23,170,60.0,20.76,China,CHN,2012,Summer,London,Judo,Extra-Lightweight,No,False
31,12,Jyri Tapani Aalto,M,31,172,70.0,23.66,Finland,FIN,2000,Summer,Sydney,Badminton,Singles,No,False
33,13,Minna Maarit Aalto,F,34,159,55.5,21.95,Finland,FIN,2000,Summer,Sydney,Sailing,Windsurfer,No,False
32,13,Minna Maarit Aalto,F,30,159,55.5,21.95,Finland,FIN,1996,Summer,Atlanta,Sailing,Windsurfer,No,False
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,20.90,Finland,FIN,1952,Summer,Helsinki,Gymnastics,Pommelled Horse,No,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,24.76,Poland,POL,1980,Summer,Moskva,Fencing,"Foil, Individual",No,False
271083,135554,Bogusaw Zych,M,36,182,82.0,24.76,Poland,POL,1988,Summer,Seoul,Fencing,"Foil, Individual",No,False
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,200 metres Butterfly,No,False
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,Swimming,100 metres Butterfly,No,False
271099,135560,Stavroula Zygouri,F,36,171,63.0,21.55,Greece,GRE,2004,Summer,Athina,Wrestling,"Middleweight, Freestyle",No,False

In [127]:
## ajouter une colonne indiquant si les JO se déroulent dans le pays de l'athlète 4/4 ##

## déplacer la colonne 'City_in_Country' à coté de la colonne "City" ##

col_to_move = 'City_in_Country'
new_index = 12
cols = list(joml.columns)
cols.insert(new_index, cols.pop(cols.index(col_to_move)))
joml = joml[cols]
joml

,ID,Name,Sex,Age,Height,Weight,IMC,Team,NOC,Year,Season,City,City_in_Country,Sport,Event,Medal
1,2,A Lamusi,M,23,170,60.0,20.76,China,CHN,2012,Summer,London,False,Judo,Extra-Lightweight,No
31,12,Jyri Tapani Aalto,M,31,172,70.0,23.66,Finland,FIN,2000,Summer,Sydney,False,Badminton,Singles,No
33,13,Minna Maarit Aalto,F,34,159,55.5,21.95,Finland,FIN,2000,Summer,Sydney,False,Sailing,Windsurfer,No
32,13,Minna Maarit Aalto,F,30,159,55.5,21.95,Finland,FIN,1996,Summer,Atlanta,False,Sailing,Windsurfer,No
56,17,Paavo Johannes Aaltonen,M,32,175,64.0,20.90,Finland,FIN,1952,Summer,Helsinki,True,Gymnastics,Pommelled Horse,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271081,135554,Bogusaw Zych,M,28,182,82.0,24.76,Poland,POL,1980,Summer,Moskva,False,Fencing,"Foil, Individual",No
271083,135554,Bogusaw Zych,M,36,182,82.0,24.76,Poland,POL,1988,Summer,Seoul,False,Fencing,"Foil, Individual",No
271088,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,False,Swimming,200 metres Butterfly,No
271087,135556,Bogusaw Stanisaw Zychowicz,M,19,189,80.0,22.40,Poland,POL,1980,Summer,Moskva,False,Swimming,100 metres Butterfly,No
271099,135560,Stavroula Zygouri,F,36,171,63.0,21.55,Greece,GRE,2004,Summer,Athina,False,Wrestling,"Middleweight, Freestyle",No

In [128]:
## Recherche et visualisation des éventuels doublons ##

duplicateRows = joml[joml.duplicated()]
duplicateRows

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, IMC, Team, NOC, Year, Season, City, City_in_Country, Sport, Event, Medal]
Index: []

In [129]:
## Visualisation des statistiques descriptives de l'ensemble des données ##

joml.describe(include="all")

,ID,Name,Sex,Age,Height,Weight,IMC,Team,NOC,Year,Season,City,City_in_Country,Sport,Event,Medal
count,93103.000000,93103,93103,93103.000000,93103.000000,93103.000000,93103.000000,93103,93103,93103.000000,93103,93103,93103,93103,93103,93103
unique,NaN,49046,2,NaN,NaN,NaN,NaN,224,224,NaN,1,17,2,24,136,2
top,NaN,Takashi Ono,M,NaN,NaN,NaN,NaN,United States,USA,NaN,Summer,Rio de Janeiro,False,Athletics,Individual All-Around,No
freq,NaN,29,61584,NaN,NaN,NaN,NaN,5212,5212,NaN,93103,7897,89853,24217,2706,84812
mean,68044.055551,NaN,NaN,24.423692,173.181326,68.330811,22.556280,NaN,NaN,1990.712866,NaN,NaN,NaN,NaN,NaN,NaN
std,39134.859463,NaN,NaN,5.354996,10.630472,15.587301,3.405436,NaN,NaN,17.907674,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000,NaN,NaN,11.000000,127.000000,25.000000,12.270000,NaN,NaN,1952.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,34094.000000,NaN,NaN,21.000000,166.000000,58.000000,20.480000,NaN,NaN,1976.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,68496.000000,NaN,NaN,24.000000,173.000000,66.000000,22.070000,NaN,NaN,1992.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,101597.000000,NaN,NaN,27.000000,180.000000,76.000000,23.850000,NaN,NaN,2004.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,135560.000000,NaN,NaN,65.000000,214.000000,214.000000,63.900000,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
joml.to_csv('athlete_events_clean_ml.csv', index=False)